---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-virtual-class-destructor,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-redundant-member-init,
  -hicpp-avoid-c-arrays,
  -hicpp-explicit-conversions,
  -hicpp-signed-bitwise,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-auto,
  -performance-enum-size,
  "

WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "x|y|z|Id|Iq"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "x|y|z|Id|Iq"
  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: "true"
